*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-label{
    color: white;
    margin: 0 15px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(61,61,61);
}
.cal-box{
    padding: 20px 0 0 0;
    width: 400px;
    background: #292b2c;
    
    box-shadow: 0 0 20px black;
}
.btn-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,2fr);
}
.cBtn{
    border: 2px solid gray;
    color: white;
    background: #292b2c;
    font-size: 18px;
    height: 100px;
}
.op{
    background: #484848;

}
#equal{
    grid-area: 4/4/6/5;
    height: 100%;
    background: #e2906d;
}
#display{
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    height: 60px;
border-radius: 4px;
border: none;
color: white;
font-family: 'Roboto', sans-serif;
    font-size: 30px;
}